{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Confirm Play - BetInf</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "betinf/css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "betinf/css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  {% include 'betinf/navbar.html' %}
  <form id="cancelBet" action="{% url 'bet' %}"
    enctype="multipart/form-data" method='POST'>
    <input type="hidden" name="match_pk" value="{{bet.match_pk}}">
  </form>
  <form id="submitBet" action="{% url 'placebet' %}"
    enctype="multipart/form-data" method='POST'>
    <input type="hidden" name="match_pk" value="{{bet.match_pk}}">
    <input type="hidden" name="phone_no" value="{{bet.phone_no}}">
    <input type="hidden" name="team_name" value="{{bet.team_name}}">
    <input type="hidden" name="amount" value="{{bet.amount}}">
    <input type="hidden" name="payout" value="{{bet.payout}}">
    <input type="hidden" name="nickname" value="{{bet.nickname}}">
  </form>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12">
          <div class="card darken-1 center-align">
            <div class="card-content">
                <h2 class="header center orange-text">Confirm Play</h2>
              <div class="row">
                <div class="col s12">
                  <div class="container">
                    <table class="">
                      <tbody>
                        <tr>
                          <td>Roll No</td>
                          <td>{{bet.phone_no}}</td>
                        </tr>
                        <tr>
                          <td>Team</td>
                          <td>{{bet.team_name}}</td>
                        </tr>
                        <tr>
                          <td>Amount</td>
                          <td>{{bet.amount}}</td>
                        </tr>
                        <tr>
                          <td>Potential Payout</td>
                          <td>{{bet.payout}}</td>
                        </tr>
                      </tbody>
                    </table>
                    
                    <br>
                    <div class="row">
                      <div class="col s6">
                        <button class="btn waves-effect waves-light red" type="submit" form="cancelBet" name="action">Cancel
                          <i class="material-icons right">close</i>
                        </button>
                      </div>
                      <div class="col s6">
                        <button class="btn waves-effect waves-light green darken-3" type="submit" form="submitBet" name="action">Submit
                          <i class="material-icons right">send</i>
                        </button>
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
            </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Disclaimer</h5>
          <p class="grey-text text-lighten-4">Please read all the terms and conditions before placing your bets.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "betinf/js/materialize.js" %}"></script>
  <script src="{% static "betinf/js/init.js" %}"></script>

  <script>
    $( document ).ready(function() {
      M.AutoInit();
});
  </script>
  </body>
</html>
