{% load static %}
{% load addstr %}
{% load matchgames %}



{% if user_group.scout %}
<form id="{{ match.match_pk|addstr:'add_game' }}" action="{% url 'addgame' %}" enctype="multipart/form-data"
  method="POST">
  <input type="hidden" name='match_pk' , value="{{match.match_pk}}">
</form>
{% endif %}
{% if user_group.bookie %}
<form id="{{ match.match_pk|addstr:'make_bet' }}" action="{% url 'bet' %}" enctype="multipart/form-data" method='POST'>
  <input type="hidden" name="match_pk" value="{{match.match_pk}}">
</form>
{% endif %}
{% if user_group.admin or user_group.healer %}
<form id="{{ match.match_pk|addstr:'toogleBettingStatus' }}" action="{% url 'toogleBettingStatus' %}"
  enctype="multipart/form-data" method='POST'>
  {% csrf_token %}
  <input type="hidden" name="match_pk" value="{{match.match_pk}}">
</form>
<form id="{{ match.match_pk|addstr:'toogleMatchActiveStatus' }}" action="{% url 'toogleMatchActiveStatus' %}"
  enctype="multipart/form-data" method='POST'>
  {% csrf_token %}
  <input type="hidden" name="match_pk" value="{{match.match_pk}}">
</form>
{% endif %}


{% if user_group.bookie or user_group.healer %}
<form id="{{ match.match_pk|addstr:'serveHealer' }}" action="{% url 'serveHealer' %}"
  enctype="multipart/form-data" method='POST'>
  {% csrf_token %}
  <input type="hidden" name="match_pk" value="{{match.match_pk}}">
</form>
{% endif %}



<div class="card darken-1 center-align">
  <div class="card-content">
    <div class="row">
      <div class="col s1"></div>
      <div class="col s10">
        <span class="card-title"><b>{{match.team1.name}} vs. {{match.team2.name}} ({{match.sport}})</b></span>
      </div>
      {% if user_group.scout or user_group.healer %}
      <div class="col s1">
        <div class="right-align">
          <!-- Dropdown Trigger -->
          <a class='dropdown-trigger' data-target="{{'dropdown'|addstr:match}}"><i class="material-icons">more_vert</i>
          </a>

          <!-- Dropdown Structure -->
          <ul id="{{'dropdown'|addstr:match}}" class='dropdown-content'>
            {% if user_group.scout %}
            <li>
              <a href="javascript:{}"
                onclick="document.getElementById('{{ match.match_pk|addstr:'add_game'}}').submit();">Add Game</a>
            </li>
            <li class="divider" tabindex="-1"></li>
            {% endif  %}
            {% if user_group.admin or user_group.healer %}
            <li>
              <a href="javascript:{}"
                onclick="document.getElementById('{{ match.match_pk|addstr:'toogleBettingStatus'}}').submit();">
                {% if match.betting_status %}
                Turn Tokens Off
                {% else %}
                Turn Tokens On
                {% endif %}
              </a>
            </li>
            <li>
              <a href="javascript:{}"
                onclick="document.getElementById('{{ match.match_pk|addstr:'toogleMatchActiveStatus'}}').submit();">
                {% if match.active %}
                Turn Live Off
                {% else %}
                Turn Match Live
                {% endif %}
              </a>
            </li>
            <li class="divider" tabindex="-1"></li>
            {% endif %}
            {% if user_group.bookie or user_group.healer %}
            <li>
              <a href="javascript:{}"
                onclick="document.getElementById('{{ match.match_pk|addstr:'serveHealer' }}').submit();">
                HeaL
              </a>
            </li>
            <li class="divider" tabindex="-1"></li>
            {% endif %}

          </ul>
        </div>
      </div>
      {% endif %}
    </div>
    {% if match.active %}
    <div class="row">
      Status : <b class="green-text">Live</b>
    </div>
    {% endif %}
    <br>
    <div class="divider"></div>
    <div class="row">
      <div class="col s6">
        <img src="{{match.team1.logo.url}}" alt="" class="responsive-img">
      </div>
      <div class="col s6">
        <img src="{{match.team2.logo.url}}" alt="" class="responsive-img">
      </div>

    </div>
    <div class="row">
      <h4 class="orange-text">Score Card</h4>
    </div>
    {% if games|matchgames:match.match_pk %}
    <div class="row">
      <div id="{{ match.match_pk|addstr:'carousel' }}" class="carousel carousel-slider center">
        <!-- <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
      </div> -->
        {% for game in games|matchgames:match.match_pk reversed %}
        <div>
          <div class="carousel-item active" href="">
            {% if match.sport.name == "Volleyball" %}
            {% include 'betinf/volleyball_game_card.html' %}
            {%else%}
            {% include 'betinf/game_card.html' %}
            {% endif %}
          </div>
        </div>

        {% endfor %}
      </div>
      {% else %}
      <p>Game Has Not Started Yet</p>
      {% endif %}
    </div>

    {% if match.betting_status %}
    <div class="row">
      <h5>Current Odds*</h5>
    </div>
    <div class="row orange-text ">
      <div class="col s5">
        <h4>{{match.get_multipliers.0}}</h4>
      </div>
      <div class="col s2">
        <h4>:</h4>
      </div>
      <div class="col s5">
        <h4>{{match.get_multipliers.1}}</h4>
      </div>
    </div>

    
    {% if user_group.bookie %}
    <div class="row">
      <button type="submit" form="{{ match.match_pk|addstr:'make_bet' }}"
      class="waves-effect waves-light btn orange">Play</button>
    </div>    
    {% endif %}
    {% endif %}

  </div>
</div>