{% load static %}
{% load addstr %}
{% load matchgames %}
{% load set_team1_score %}
{% load set_team2_score %}


{% if user_group.scout %}
{% include 'betinf/score_update_forms.html' %}
{% endif %}


{% if user_group.scout %}
<form id="{{ match.match_pk|addstr:'deleteSet' }}" action="{% url 'deleteSet' %}" enctype="multipart/form-data"
    method="POST">
    {% csrf_token %}
    <input type="hidden" name='match_pk' value="{{match.match_pk}}">
    <input type="hidden" name='game_pk' value="{{game.game_pk}}">
</form>


<form id="{{ game.game_pk|addstr:'deleteLastGame' }}" action="{% url 'deleteLastGame' %}" enctype="multipart/form-data"
    method="POST">
    {% csrf_token %}
    <input type="hidden" name='match_pk' value="{{match.match_pk}}">
    <input type="hidden" name='game_pk' value="{{game.game_pk}}">
</form>
{% endif %}


<div class="container">
    <div class="card grey lighten-5">
        <div class="card-content header-margin-fix">
            <div class="row">
                <div class="col s2"></div>
                <div class="col s8">
                    <h4 class=""><b>{{match.team1_score}}:{{match.team2_score}}</b></h4>
                </div>
                {% if user_group.scout %}
                <div class="col s2">
                    <div class="right-align">
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger' href='#' data-target="{{'dropdown'|addstr:game.game_pk}}"><i
                                class="material-icons">more_horiz</i>
                        </a>
                        <!-- Dropdown Structure -->
                        <ul id="{{'dropdown'|addstr:game.game_pk}}" class='dropdown-content'>
                            {% if game.num_sets == 0 %}
                            <li><a href="javascript:{}"
                                    onclick="document.getElementById('{{ game.game_pk|addstr:'addSet' }}').submit();">Add
                                    Set</a></li>
                            <li class="divider" tabindex="-1"></li>
                            {% endif %}
                            {% if game.num_sets %}
                            <li><a href="javascript:{}"
                                    onclick="document.getElementById('{{ match.match_pk|addstr:'deleteSet'}}').submit();">Delete
                                    Set</a>
                            </li>
                            {% endif %}
                            <li class="divider" tabindex="-1"></li>
                            {% if game.game_num == match.num_games %}
                            <li><a href="javascript:{}"
                                    onclick="document.getElementById('{{ game.game_pk|addstr:'deleteLastGame' }}').submit();">Delete
                                    Game</a>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            {% endif %}
                            <li><a href="#!">Mark Game Ended</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li class="divider" tabindex="-1"></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="divider"></div>
            {% if game.num_sets > 0 %}


            <div class="row flex">
                <div class="col s4">
                    <h4 class="">{{ sets|set_team1_score:game }}</h4>
                </div>
                <div class="col s4">
                    <h5 class="orange-text">Set {{game.game_num}}</h5>
                </div>
                <div class="col s4">
                    <h4 class="">{{ sets|set_team2_score:game }}</h4>
                </div>
            </div>

            {% if user_group.scout %}
            {% include 'betinf/set_score_update.html' %}
            {% endif %}

            {% else %}
            <div class="row flex">
                <p>Game has not Started Yet.</p>
            </div>
            {% endif %}

        </div>
    </div>
</div>