{% load static %}
{% load addstr %}
{% load matchgames %}


{% if user_group.scout %}
  {% include 'score_update_forms.html' %}
{% endif %}
<div class="card grey lighten-5">
    <div class="card-content">
        <h4 class=""><b>1:2</b></h4>
        <div class="divider"></div>
        <div class="row flex">
            <div class="col s4">
                <h4 class="">20</h4>
            </div>
            <div class="col s4">
                <h5 class="orange-text">Set 3/5</h5>
            </div>
            <div class="col s4">
                <h4 class="">15</h4>
            </div>
        </div>
        
        <div class="row">
            <h5>Game {{game.game_num}}/3</h5>
        </div>
    </div>
    {% if user_group.scout %}
      {% include 'score_update_buttons.html' %}
    {% endif %}
</div>