{% load static %}
{% load addstr %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Boobi</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  {% include 'navbar.html' %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">BOOBI</h1>
      <div class="row center">
        <h5 class="header col s12 light">IIT Bhilai's no.1 betting platform</h5>
      </div>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        {% for match in matches %}
        {% if user_group.scout %}
        <form id="{{ match.match_pk|addstr:"inc_team1_score" }}" action="{% url 'updateMatch' %}"
          enctype="multipart/form-data" method='POST'>
          <input type="hidden" name="match_pk" value="{{match.match_pk}}">
          <input type="hidden" name="team_num" value="1">
          <input type="hidden" name="inc" value="1">
        </form>
        <form id="{{ match.match_pk|addstr:"dec_team1_score" }}" action="{% url 'updateMatch' %}"
          enctype="multipart/form-data" method='POST'>
          <input type="hidden" name="match_pk" value="{{match.match_pk}}">
          <input type="hidden" name="team_num" value="1">
          <input type="hidden" name="inc" value="0">
        </form>
        <form id="{{ match.match_pk|addstr:"inc_team2_score" }}" action="{% url 'updateMatch' %}"
          enctype="multipart/form-data" method='POST'>
          <input type="hidden" name="match_pk" value="{{match.match_pk}}">
          <input type="hidden" name="team_num" value="2">
          <input type="hidden" name="inc" value="1">
        </form>
        <form id="{{ match.match_pk|addstr:"dec_team2_score" }}" action="{% url 'updateMatch' %}"
          enctype="multipart/form-data" method='POST'>
          <input type="hidden" name="match_pk" value="{{match.match_pk}}">
          <input type="hidden" name="team_num" value="2">
          <input type="hidden" name="inc" value="0">
        </form>
        {% endif %}
        {% if user_group.bookie %}
        <form id="{{ match.match_pk|addstr:"make_bet" }}" action="{% url 'bet' %}" enctype="multipart/form-data"
          method='POST'>
          <input type="hidden" name="match_pk" value="{{match.match_pk}}">
        </form>
        {% endif %}
        
        <div class="col m6 s12">
          <div class="card darken-1 center-align">
            <div class="card-content">
              <span class="card-title"><b>{{match.team1.name}} vs. {{match.team2.name}} ({{match.sport}})</b></span>
              {% if user_group.admin %}
              Status
              <div class="switch">
                <label>
                  Offline
                  <input type="checkbox">
                  <span class="lever"></span>
                  Live
                </label>
              </div>
              Betting
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
              {% endif %}
              <br>
              <div class="divider"></div>
              <div class="row">
                <div class="col s6">
                  <img src="{{match.team1.logo.url}}" alt="" class="responsive-img">
                </div>
                <div class="col s6">
                  <img src="{{match.team2.logo.url}}" alt="" class="responsive-img">
                </div>

              </div>
              <div class="row">
                <h5>Score</h5>
              </div>
              <div class="row">
                <div class="col s5">
                  <div class="row">
                    <h4>{{match.team1_score}}</h4>
                    {% if user_group.scout %}
                    <button type='submit' form="{{ match.match_pk|addstr:"inc_team1_score" }}"
                      class="waves-effect waves-light btn-small">+</button>
                    <button type='submit' form="{{ match.match_pk|addstr:"dec_team1_score" }}"
                      class="waves-effect waves-light btn-small">-</button>
                    {% endif %}

                  </div>
                </div>
                <div class="col s2">
                  <h4>:</h4>
                </div>
                <div class="col s5">
                  <div class="row">
                    <h4>{{match.team2_score}}</h4>
                    {% if user_group.scout %}
                    <button type='submit' form="{{ match.match_pk|addstr:"inc_team2_score" }}"
                      class="waves-effect waves-light btn-small">+</button>
                    <button type='submit' form="{{ match.match_pk|addstr:"dec_team2_score" }}"
                      class="waves-effect waves-light btn-small">-</button>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="row">
                <h5>Current Odds</h5>
              </div>
              <div class="row">
                <div class="col s5">
                  <h4>{{match.get_multipliers.0}}</h4>
                </div>
                <div class="col s2">
                  <h4>:</h4>
                </div>
                <div class="col s5">
                  <h4>{{match.get_multipliers.1}}</h4>
                </div>
              </div>
              {% if user_group.bookie %}
              <button type="submit" form="{{ match.match_pk|addstr:"make_bet" }}"
                class="waves-effect waves-light btn orange">Bet</button>
              {% endif %}


            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Disclaimer</h5>
          <p class="grey-text text-lighten-4">Please read all the terms and conditions before placing your bets.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static  "js/init.js" %}"></script>

</body>

</html>