{% load static %}
{% load addstr %}
{% load matchgames %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Boobi</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      M.AutoInit();
      var elems = document.querySelectorAll('.carousel');
      var instances = M.Carousel.init(elems, options);
    });


  </script>




  {% include 'navbar.html' %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container center">
      <br><br>
      <!-- <h1 class="header center orange-text">BOOBI</h1> -->
      <img src="{% static "images/boobi_logo.png" %}" alt="Boobi logo">
      <div class="row center">
        <h5 class="header col s12 light">IIT Bhilai's no.1 sports platform</h5>
      </div>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        {% for match in matches %}

        <div class="col m6 s12">
          {% include 'match_card.html' %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Disclaimer</h5>
          <p class="grey-text text-lighten-4">Please read all the terms and conditions before placing your bets.</p>
          <p class="grey-text text-lighten-4">Odds may be different. Contact our representatives for more details.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static  "js/init.js" %}"></script>

</body>

</html>